body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  min-width: 700px;
}

/* NavBar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.5rem;
  z-index: 4;
}
nav img {
  height: 1.5rem;
  width: 9rem;
}
nav ul {
  display: flex;
  list-style-type: none;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}
nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: hsl(229, 31%, 21%);
  cursor: pointer;
}

.login {
  color: white;
  width: 6rem;
  line-height: 2.25rem;
  text-align: center;
  background-color: hsl(0, 94%, 66%);
  border-radius: 5px;
  border: 1px solid hsl(0, 94%, 66%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav .login:hover {
  background-color: white;
  color: hsl(0, 94%, 66%);
}
nav a:hover {
  color: hsl(0, 94%, 66%);
}
.hamburger-icon {
  display: none;
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: stretch;
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.header-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  margin-left: 9rem;
}
.header-info h2 {
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
}
.header-info p {
  color: hsl(229, 8%, 60%);
  line-height: 1.6;
}

.header-btns button {
  border: none;
  width: 10rem;
  height: 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-chrome-btn {
  background-color: hsl(231, 69%, 60%);
  border: 2px solid hsl(231, 69%, 60%) !important;
  color: white;
  margin: 0 1rem 0 0;
}
.header-chrome-btn:hover {
  background-color: white;
  color: hsl(231, 69%, 60%);
}

.header-firefox-btn:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
  margin: 0 1rem 0 0;
}

.header-design {
  margin: 2rem;
  width: 550px;
  z-index: 1;
}

.header-design img {
  position: relative;
  top: 50px;
  width: 550px;
  z-index: 2;
}

.blue-design {
  width: 800px;
  height: 325px;
  background: hsl(231, 69%, 60%);
  border-radius: 250px;
  overflow: hidden;
  z-index: 1;
}
.header-blue {
  position: relative;
  bottom: 225px;
  left: 200px;
}

/* Features */
#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  text-align: center;
}
#features .features-head {
  color: hsl(229, 31%, 21%);
  font-size: 2rem;
  margin: 1rem;
}
#features .features-par {
  color: hsl(229, 8%, 60%);
  width: 500px;
  font-size: 1.05rem;
  line-height: 1.6;
}
.tabs ul {
  display: flex;
  list-style-type: none;
  width: 700px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}
.tabs ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34%;
  line-height: 70px;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  cursor: pointer;
}
.tabs ul li:hover {
  color: red;
}
#bookmark-tab {
  border-bottom: 0.25rem solid hsl(0, 94%, 66%);
}

.carousel {
  display: flex;
  flex-direction: row;
  height: 500px;
  justify-content: space-around;
  width: 90%;
}
.tab {
  display: flex;
}
.tab-design {
  margin: 1rem;
  width: 550px;
}

.tab-design img {
  position: relative;
  top: 50px;
  width: 450px;
  z-index: 2;
}
.tab-blue {
  position: relative;
  bottom: 250px;
  right: 350px;
}
.tab-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.tab-info h3 {
  font-size: 1.75rem;
  margin: 0 0 1rem 0;
}
.tab-info p {
  margin: 0;
  width: 400px;
  color: hsl(229, 8%, 60%);
  line-height: 1.6;
}
.more-btn {
  width: 6.5rem;
  height: 2.5rem;
  margin: 1.25rem 0;
  background-color: hsl(231, 69%, 60%);
  color: white;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  cursor: pointer;
}
.bookmarking .tab-design img {
  margin: 3rem;
  top: 00px;
  width: 450px;
}
.bookmarking {
  display: contents;
}
.searching {
  display: none;
}
.sharing {
  display: none;
}
/* Extentions */
#download-ext {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#download-ext h3 {
  color: hsl(229, 31%, 21%);
  font-size: 2rem;
  margin: 0.5rem;
}
#download-ext .download-par {
  color: hsl(229, 8%, 60%);
  width: 500px;
  font-size: 1.05rem;
  line-height: 1.6;
  text-align: center;
  margin: 1rem 0;
}
.extensions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65vh;
}
.card {
  background-color: white;
  width: 225px;
  padding: 1rem 0;
  margin: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card img:first-child {
  width: 40%;
}
.card .dot-img {
  width: 100%;
}
.extension-btn {
  margin-top: 1rem;
  width: 85%;
  line-height: 2rem;
  border: 2px solid hsl(231, 69%, 60%);
  background-color: hsl(231, 69%, 60%);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.extension-btn:hover {
  color: hsl(231, 69%, 60%);
  background-color: white;
}
.card h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 12px;
  color: hsl(229, 8%, 60%);
}
.chrome-card {
  align-self: flex-start;
}
.foxfire-card {
  align-self: flex-center;
}
.opera-card {
  align-self: flex-end;
}

/* Frequently ask question */
#freq-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#freq-questions h3 {
  color: hsl(229, 31%, 21%);
  font-size: 2rem;
  margin: 0.5rem;
}
#freq-questions .freq-par {
  color: hsl(229, 8%, 60%);
  width: 500px;
  font-size: 1.05rem;
  line-height: 1.6;
  text-align: center;
  margin: 1rem 0;
}
.question-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-top: 1px solid hsl(229, 8%, 60%);
  cursor: pointer;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  cursor: pointer;
}
.question-container:last-of-type {
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.question:hover {
  color: red;
}
.answer {
  display: none;
}
.question-container.active .answer {
  display: block;
}
.active .question img {
  filter: invert(55%) sepia(39%) saturate(5864%) hue-rotate(327deg)
    brightness(99%) contrast(100%);
  transform: rotate(180deg);
}

/* contact */
#contact {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(231, 69%, 60%);
  height: 55vh;
}
#contact p {
  color: white;
  font-size: 11px;
  letter-spacing: 5px;
  margin: 0;
}
#contact h3 {
  text-align: center;
  color: white;
  font-size: 1.8rem;
  width: 400px;
  font-weight: 400;
  margin: 2rem;
}
#contact form {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
#email {
  width: 250px;
  background-color: white;
  line-height: 2.5rem;
  border: 2px solid white;
  border-radius: 5px;
}
#email::placeholder {
  padding-left: 1rem;
  opacity: 0.5;
}
.isInValid {
  background-image: url("./images/icon-error.svg");
  background-position: right;
  background-repeat: no-repeat;
}
.contact-btn {
  width: 115px;
  line-height: 2.5rem;
  align-self: flex-start;
  border: 2px solid hsl(0, 94%, 66%);
  color: white;
  background-color: hsl(0, 94%, 66%);
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
}
.contact-btn:hover {
  background-color: white;
  color: hsl(0, 94%, 66%);
}

.error-icon {
  position: absolute;
  min-width: 30px;
}
.error-msg {
  letter-spacing: 1px !important;
  background-color: red;
  width: 240px;
  padding: 0.2rem 0.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  visibility: hidden;
  z-index: -1;
}
/* footer */
footer {
  margin: 0;
  height: 13vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(229, 31%, 21%);
}
footer div:first-of-type {
  width: 500px;
  display: flex;
}

footer ul {
  display: flex;
  list-style-type: none;
  width: 300px;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}
footer a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
footer a:hover {
  color: hsl(0, 94%, 66%);
}
.social-media {
  width: 200px;
  text-align: center;
}

.social-media img:first-of-type {
  margin-right: 25px;
}
.social-media img:hover {
  filter: invert(55%) sepia(39%) saturate(5864%) hue-rotate(327deg)
    brightness(99%) contrast(100%);
  cursor: pointer;
}

.nav-box {
  display: block;
  padding: 3.5rem 0;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 3;
  opacity: 0.8;
  background-color: hsl(229, 31%, 21%);
}
.nav-box div:first-of-type {
  display: flex;
  justify-content: space-around;
}
.mobile-img {
  height: 3rem;
  width: 16rem;
}
.close-img {
  width: 3rem;
}
.nav-box ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}
.nav-box ul li {
  text-align: center;
  line-height: 8rem;
  width: 80%;
  border-top: 2px solid hsl(229, 8%, 60%);
}
.nav-box a {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  opacity: 1;
}
#nav-box-login {
  border: 5px solid white;
  width: 20px;
  line-height: 60%;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 2rem 0;
    width: 700px;
    height: 3rem;
    z-index: 1;
  }
  nav ul {
    display: none;
  }
  nav img {
    height: 3rem;
    width: 16rem;
  }
  .hamburger-icon {
    display: block;
    height: 2rem;
    width: 2.5rem;
  }
  header {
    padding: 2rem 0;
    display: flex;
    flex-direction: column-reverse;
    width: 700px;
    text-align: center;
  }
  .header-design {
    width: 700px;
    margin: 0;
    height: 90vh;
  }
  .header-design img {
    top: 125px;
    width: 650px;
  }
  .blue-design {
    height: 400px;
  }
  .header-info {
    width: 600px;
    margin: 3rem;
    justify-content: center;
    align-items: center;
  }
  .header-info h2 {
    font-size: 3rem;
  }
  .header-info p {
    width: 500px;
    font-size: 2rem;
    margin-top: 0;
  }
  .header-btns {
    width: 600px;
  }

  .header-btns button {
    width: 15rem;
    height: 5rem;
    font-size: 1.5rem;
  }

  #features .features-head {
    font-size: 3rem;
  }
  #features .features-par {
    font-size: 2rem;
    width: 90%;
  }
  .tabs ul {
    flex-direction: column;
    margin-bottom: 150px;
  }
  .tabs ul li {
    width: 90%;
    font-size: 2.5rem;
    line-height: 7rem;
    letter-spacing: 0px;
  }

  .carousel {
    flex-direction: column;
    margin-bottom: 10rem;
    height: 800px;
  }
  .bookmarking .tab-design img {
    margin: 0;
    top: 100px;
    width: 600px;
  }
  .tab-design {
    height: 100vh;
  }
  .tab-design img {
    margin: 0;
    top: 125px;
    width: 600px;
  }
  .tab-info {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .tab-info h3 {
    font-size: 3rem;
  }
  .tab-info p {
    font-size: 2rem;
    width: 95%;
  }
  .more-btn {
    width: 11rem;
    height: 5rem;
    font-size: 1.5rem;
  }
  .extensions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300vh;
    margin-bottom: 10rem;
  }
  #download-ext h3 {
    font-size: 3rem;
  }
  #download-ext .download-par {
    color: hsl(229, 8%, 60%);
    width: 90%;
    font-size: 2rem;
    margin: 1rem 0;
  }
  .card {
    width: 450px;
    height: 1500px;
  }
  .card img:first-child {
    width: 50%;
    margin-top: 2rem;
  }
  .card h4 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .card p {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }
  .extension-btn {
    margin-top: 2.5rem;
    width: 85%;
    line-height: 4.5rem;
    font-size: 1.5rem;
  }
  #freq-questions h3 {
    font-size: 3rem;
    width: 70%;
    text-align: center;
  }
  #freq-questions .freq-par {
    width: 600px;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .question-container {
    width: 600px;
  }
  .question {
    width: 100%;
    font-size: 1.7rem;
    line-height: 3.5rem;
    letter-spacing: 0px;
  }
  .answer {
    font-size: 1.7rem;
  }
  #contact {
    height: 80vh;
  }
  #contact p {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 5px;
    margin: 0;
  }
  #contact h3 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    width: 600px;
  }
  #contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }
  #email {
    width: 500px;
    line-height: 4rem;
    font-size: 1.5rem;
  }
  .contact-btn {
    width: 510px;
    line-height: 4rem;
    font-size: 1.5rem;
    align-self: center;
  }
  footer {
    height: 80vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
  footer div:first-of-type img {
    height: 10vh;
  }
  footer div:first-of-type {
    flex-direction: column;
    align-items: center;
    height: 50vh;
  }
  footer ul {
    padding: 0;
    text-align: center;
    flex-direction: column;
    height: 60vh;
  }
  footer li a {
    text-align: center;
    font-size: 1.5rem;
  }
  .social-media img {
    width: 3rem;
  }
}
